//General Colour scheme

$color1: #4b21ff;
$color2: #272727;
$color3: #fefefe;
$color4: #a9a9a9;
$color5: #bdbdbd;

//hover Colour Scheme
$hoverColor: #800000;
$hoverColor2: rgba(245,242,208,1);

//button transition colour scheme
$btnTransitions: all 0.3s ease-in-out;