.sideDrawer {
    height: 100%;
    background: rgba(87, 84, 84, 0.329);
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    max-width: 250px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 1s ease-out;
}

.sideDrawer.open {
    transform: translateX(0);

}

.sideDrawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sideDrawer li {
    margin: 0.5rem 0;
}

.sideDrawer a {
    color: blue;
    text-decoration: none;
    font-size: 1.2rem;
    font-style: bold;
    text-transform: uppercase;
}

.sideDrawer a:hover,
.sideDrawer a:active {
    color: red;
}

//Media Queries

@media (max-width: 768px) {
    .Navbar__navigation-items {
        display: none;
    }

    .sideDrawer {
        left: 140px;
    }
}